<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Настройка звонков</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"
        href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
</head>

<body>
    <div class="container">
        <h1 class="text-center">Корпус {{building_number}}</h1>
        <div class="row toolbar">
            <div class="col" style="display: inline-block;">
                <i class="fa-solid fa-table toolbar-icon" title="Расписание" data-bs-toggle="modal"
                    data-bs-target="#timetableModal"></i>
                <i class="fa-solid fa-music toolbar-icon" data-bs-toggle="modal" data-bs-target="#melodiesModal"
                    title="Мелодии"></i>
                <i class="fa-solid fa-cog toolbar-icon" title="Настройки" data-bs-toggle="modal"
                    data-bs-target="#settingsModal"></i>
                <i class="fa-solid fa-bell toolbar-icon" title="Проверка звонка"
                    onclick="getReqApi('/api/manual_bell')"></i>
                <i class="fa-solid fa-circle-info toolbar-icon" data-bs-toggle="modal" data-bs-target="#sysinfoModal" title="Debug info"></i>
                <i class="fa-solid fa-arrows-rotate toolbar-icon" title="Обновить расписание(Hard refresh)"
                    onclick="window.location.href='/api/hard_refresh'"></i>
                <i class="fa-solid fa-volume-xmark toolbar-icon" title="Тихий день - отключить звонок" data-bs-toggle="modal" data-bs-target="#muteDayModal"></i>

                <i class="fa-solid fa-right-from-bracket toolbar-icon float-end" title="Выйти из панели управления звонками"
                    onclick="window.location.href='/api/logout'"></i>
            </div>
        </div>
        <div id="timetable_area">
            {{time_table | safe}}
        </div>

    </div>
    <div class="modal fade" id="timetableModal" tabindex="-1" aria-labelledby="timetableModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="timetableModalLabel">Расписание</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/api/update_timetable" id="update_timetable_form">
                        <label for="timetable-raw" class="form-label" style="font-weight: bold;">Уроки</label>
                        <textarea class="form-control" name="timetable-raw" id="timetable-raw-times"
                            oninput="auto_grow(this)" required></textarea>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    <button type="submit" class="btn btn-primary" form="update_timetable_form">Применить</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="melodiesModal" tabindex="-1" aria-labelledby="melodiesModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="melodiesModalLabel">Мелодии</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <i class="fa-solid fa-plus toolbar-icon" title="Добавить" onclick="upload_melody()"></i><span
                        id="melody_upload_status"></span>

                    <form action="/api/upload_melody" method="POST" style="display: none;" id="upload_melody_form"
                        enctype=multipart/form-data>
                        <input type="file" id="uploadMelodyInput" style="display: none" accept=".mp3, .wav"
                            name="melody_file" />
                    </form>
                    <div class="melodies_container">
                        <ul class="list-group" id="melodies_container_ul">
                            <div class="d-flex justify-content-center">
                                <div class="spinner-border" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                        </ul>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Ок</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="settingsModal" tabindex="-1" aria-labelledby="settingsModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="settingsModalLabel">Настройки</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/api/update_config" , method="POST" id="update_configuration_form">
                        <label for="buildingNumber" class="form-label">Номер корпуса</label>
                        <input type="text" class="form-control" id="buildingNumber" name="building_number"
                            placeholder="11" value="{{building_number}}" required>

                        <label for="newPassword" class="form-label">Новый пароль</label>
                        <input type="password" class="form-control" id="newPassword" name="new_password"
                            placeholder="Оставьте пустым, чтобы не менять пароль" autocomplete="off">
                        <div id="passwordConfirmationBlock" style="display: none;">
                            <label for="newPasswordConfirm" class="form-label">Повторите пароль <span id="passwordConfirmStatus" style="color: red">пароли не совпадают</span></label>
                            <input type="password" class="form-control" id="newPasswordConfirm" name="new_password_confirm"
                                placeholder="Повторите новый пароль" autocomplete="off">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    <button type="submit" form="update_configuration_form" class="btn btn-primary" id="updateConfigurationButton">Обновить</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="editLessonModal" tabindex="-1" aria-labelledby="editLessonModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editLessonModalLabel">Редактировать урок</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/api/update_lesson" method="POST" id="update_lesson_form" autocomplete="off">
                        <input type="hidden" name="lesson_id" id="update_lesson_id_hidden">
                        <label for="lessonStart" class="form-label">Время начала</label>
                        <input type="text" class="form-control" id="lessonStartInput" name="lesson-start"
                            placeholder="00:00" required>

                        <label for="lessonFinish" class="form-label">Время окончания</label>
                        <input type="text" class="form-control" id="lessonFinishInput" name="lesson-finish"
                            placeholder="00:00" required>

                        <label for="melodySelect" class="form-label">Выбор мелодии</label>
                        <select class="form-select" aria-label="Select melody" id="melodySelect" name="melodySelect">

                        </select>
                        <label class="form-label">Дополнительные дни</label>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="1" id="work_at_saturday"
                                name="work_at_saturday">
                            <label class="form-check-label" for="work_at_saturday">
                                Суббота
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="1" id="work_at_sunday"
                                name="work_at_sunday">
                            <label class="form-check-label" for="work_at_sunday">
                                Воскресенье
                            </label>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    <button type="submit" form="update_lesson_form" class="btn btn-primary">Применить</button>
                </div>
            </div>
        </div>
    </div>



    <div class="modal fade" id="sysinfoModal" tabindex="-1" aria-labelledby="sysinfoModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="sysinfoModalLabel">Отладочная информация</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div style="display: grid;">
                        <span>Local Time: <span id="server_local_time" class="config_val">N/A</span></span>
                        <span>NTP(Moscow) Time: <span id="real_ntp_time" class="config_val">N/A</span></span>
                        <span>NTP server: <span id="ntp_server_host" class="config_val">N/A</span></span>
                        <span>API req time: <span id="api_req_time" class="config_val">N/A</span></span>
                        <hr></hr>
                        <span>CPU temperature: <span id="cpu_temperature" class="config_val">N/A</span></span>
                        <span>CPU usage: <span id="cpu_usage" class="config_val">N/A</span></span>
                        <span>RAM usage: <span id="ram_usage" class="config_val">N/A</span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="muteDayModal" tabindex="-1" aria-labelledby="muteDayModal"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="muteDayModalLabel">Отключить звонок</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div style="display: grid;">
                        <span>Текущий статус: <span id="mute_mode_status"></span></span>
                        <hr></hr>
                        <span>Ручная настройка</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
    <script src="/static/index.js"></script>
    <script src="/static/api.js"></script>
    <script src="/static/utils.js"></script>
</body>

</html>