[Unit]
Description=School bell automation system
After=multi-user.target

[Service]
Type=simple
WorkingDirectory=/home/pi/SchoolBellProject/
ExecStart=/usr/bin/bash /home/pi/SchoolBellProject/run.sh
Environment="PYTHONPATH=$PYTHONPATH:/home/pi/.local/lib/python3.9/site-packages"

[Install]
WantedBy=multi-user.target