[Unit]
Description=School bell automation system
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/main.py

[Install]
WantedBy=multi-user.target